{% extends 'base.html.twig' %}

{% block title %}Edit Environment{% endblock %}

{% block body %}
    <h1>Edit Environment</h1>

    {{ include('environment/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('environment_index') }}">back to list</a>

    {{ include('environment/_delete_form.html.twig') }}
{% endblock %}
