{% extends 'base.html.twig' %}

{% block title %}New Environment{% endblock %}

{% block body %}
    <h1>Create new Environment</h1>

    {{ include('environment/_form.html.twig') }}

    <a href="{{ path('environment_index') }}">back to list</a>
{% endblock %}
