{% extends 'base.html.twig' %}

{% block title %}New Era{% endblock %}

{% block body %}
    <h1>Create new Era</h1>

    {{ include('era/_form.html.twig') }}

    <a href="{{ path('era_index') }}">back to list</a>
{% endblock %}
